<div class="columns is-desktop">
  <div class="column is-two-thirds">
    <div class="section">
      <div id="app" class="row columns is-multiline">
        {% for article in articleslist | reverse %}
          <div v-for="card in cardData" key="card.id" class="column is-6">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <a href="{{ article.url | url }}">
                    <img src="{{ article.data.bannerImage | url }}" alt="Image">
                  </a>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding">
                      <a href="{{ article.url | url }}">{{article.data.title}}</a>
                    </p>
                    <p class="subtitle is-6">
                      <time class="postlist-date" datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }}</time>
                    </p>
                    <p>
                      <span class="title is-6">
                        {% for tag in article.data.tags %}
                          {%- if collections.tagList.indexOf(tag) != -1 -%}
                            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                          {%- endif -%}
                        {% endfor %}
                      </span>
                    </p>
                  </div>
                </div>
                <div class="content">
                  {{card.content}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column is-one-third">Article archive placeholder</div>
</div>

{# <ol reversed="reversed" class="postlist" style="counter-reset: start-from {{ (articleslistCounter or articleslist.length) + 1 }}">

</ol> #}